<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JSPTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>servlet1</servlet-name>
	<servlet-class>com.number1.Servlet1</servlet-class>  	
  </servlet>
  <servlet-mapping>
  	<servlet-name>servlet1</servlet-name>
  	<url-pattern>/s1</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>servlet2</servlet-name>
	<servlet-class>com.number1.Servlet2</servlet-class>
	<init-param>
		<param-name>test</param-name>
		<param-value>123456</param-value>
	</init-param>  	
	<load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>servlet2</servlet-name>
  	<url-pattern>/s2</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ProcessServlet</servlet-name>
	<servlet-class>com.number3.ProcessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProcessServlet</servlet-name>
  	<url-pattern>/processing</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UploadServlet</servlet-name>
	<servlet-class>com.number3.UploadServlet</servlet-class>
	<multipart-config>
		<max-file-size>512000</max-file-size>
		<max-request-size>4096000</max-request-size>
	</multipart-config>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UploadServlet</servlet-name>
  	<url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <listener>
  	<listener-class>com.number2.WebContextListener</listener-class>
  </listener>
  
</web-app>
